.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/**/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f8f8f8;
}

.App-logo {
  height: 80px;
}

.App-title {
  font-size: 32px;
  margin-left: 16px;
}

/* */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation barin ulkoasu */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #212529;
}

.nav-link {
  color: #212529;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1.5rem;
}

.nav-link.active {
  color: #007bff;
}

/* Etusivun ulkoasu */

#etusivu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

section {
  margin: 4rem 0;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

/* Tuotelista ulkoasu */

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product-item {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.product-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-item p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #0069d9;
}
